/*@font-face { font-family: Medio; src: url('medio.otf'); }*/


#header-img {
	height: 400px;
	position: center;
	display: block;
	margin: auto;
	width: 180px;
	height: auto;
	margin-top: 0px;
	/* box-shadow: x-coordinate y-coordinate blur #color*/
	box-shadow: 8px 8px #E5E3E8;

}

body {
	/*font-family: 'Medio', sans-serif;*/
	font-family: 'Average', serif;
	margin-bottom: 0;
	color: #404040;
}

header {
	/*font-family: 'Libre Baskerville', serif;*/
	font-family: 'Average', serif;
	text-align: center;
	color: #2B2B2B;
}

hr {
	width: 60%;
	margin-bottom: 30px;
	background-color: #1F1F1F;
	border-color: #1F1F1F;
}

p {
	word-spacing: 3px;
	text-align: justify;
	font-size: 20px;
	line-height: 1.5;
}

/*blog title*/
h1 {
	font-weight: 400;
	font-size: 55px;
	color: #1F1F1F;
	margin-bottom: 10px;
}

/*entry title*/
h2 {
	font-weight: 200;
	font-size: 35px;
	letter-spacing: 1px;
	margin: 45px 0 0 0;
	color: #2E2E2E;
	text-align: center;
}

/*entry date*/
h3 {
	font-size: 18px;
	/*color: #707070;*/
	color: rgb(129, 129, 129);
	text-align: center;
	margin: 10px;
}

.date {
	border-top: 1px solid rgb(129, 129, 129);
	border-bottom: 1px solid rgb(129, 129, 129);
	margin: 5px 0;
	padding: 15px 0;
	letter-spacing: 2px;
	font-weight: 400;
}

/*entry location*/
h4 {
	font-size: 20px;
	color: rgb(129, 129, 129);
	text-align: center;
	font-weight: 400;
	margin-bottom: 0;
}

.entry {
	margin: 0 20%;
}

footer {
	font-size: 16px;
	background-color: #E5E3E8;
	text-align: center;
	padding: 25px 0 ;
	margin: 100px -40px 0 -40px;
}

.social {
	width: 380px;
	margin: auto;
	padding: 30px 0;
}

.social-link {
	display: inline-block;
	padding: 0px 30px 10px 30px;
}

.social-img {
	padding-right: 12px;
}

.thanks {
	font-size: 10px;
}

a:visited {
	color: #707070;
}

a:link {
	color: #707070;
	text-decoration: none;
}

a:hover {
	color: #707070;
	text-decoration: none;
}

a:active {
	color: #707070;
}
