<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ site.title }}</title>

  <!--Link stylesheet-->
  <link rel="stylesheet" type="text/css" href={{site.css_link}}>
  <!--Link google fonts-->
  <link href={{site.font_link}} rel="stylesheet">
  </head>
  <body>
    <header>
      <img id="header-img" src="img/sketch-v2.jpg">
      <h1>{{ site.title }}</h1>
      <hr class="big-hr">
    </header>

      {{content}}

    <footer>
        <div class="social">
          <a href={{site.instagram_link}}>
            <div class="social-link">
              <img class="social-img" src={{site.instagram_icon}}> {{site.instagram_username}}
            </div>
          </a>
          <a href={{site.github_link}}>
            <div class="social-link">
              <img class="social-img" src={{site.github_icon}}> {{site.github_username}}
            </div>
          </a>
        </div>
        <div class="thanks">
          Icons made by <a href={{site.icons_by}} title="Swifticons">Swifticons</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </footer>
  </body>
</html>
